*.la
*.lo
*.o
.deps
.dirstamp
.libs
/*.tar.gz
/Makefile
/Makefile.in
/aclocal.m4
/arib25-*/
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/src/arib25.pc
/stamp-h1
